@import 'normalize.scss'
@import 'reset.scss'

*
    box-sizing: border-box

html 
    // overflow-x: hidden
    // overflow-y: scroll
body
    font-family: 'Poppins', sans-serif
    display: block
    background-color: #121113
    // overflow: hidden
    overflow-x: hidden  //* отключает горизонтальный скролл */
    overflow-y: scroll

.link
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none
    color: #FFF
    width: 100%
    height: 100%

.border
    border: 1px solid #FFFFFF
    border-radius: 25px

.section__nav
    width: 100%
    height: 690px
    &_container
        width: 100%
        height: 100%
    &_info
        margin-right: 5px
        width: 330px
        height: 80px
        &:nth-child(3)
            margin-right: 0px
        a   
            font-size: 24px
        &-container
            display: flex
            float: left
            margin-right: 5px
            position: relative
            top: 140px
            padding-left: 30px
    &_photo
        width: 450px
        height: 350px
        overflow: hidden
        margin: 0
        top: 25px
        position: relative
        border-radius: 30px
        &-img
            width: 100%
            object-fit: cover

.section__nav_about
    position: relative
    width: 100%
    height: 100%
    &-container
        background-color: #2E2D2E
        border-radius: 30px
        width: 1000px
        height: 460px
        position: relative
        overflow: hidden
        left: 30px
        right: 30px
        bottom: 120px
        margin: 0 
    &-title-container
        background-color: #FFCA43
        border-radius: 25px
        width: 180px
        height: 40px
        margin-left: 50px 
        margin-top: 50px
        justify-content: center 
        align-items: center 
        display: flex
    &-title
        color: #111111
        font-size: 16px 
        font-weight: 700 
    &-name
        color: #FFCA43
        font-size: 48px
        font-weight: 500
        margin-top: 140px
        margin-left: 50px
    &-text
        color: #FFCA43
        font-size: 16px
        font-weight: 400
        line-height: 30px
        margin-top: 60px
        margin-left: 50px
        width: 600px
        height: 90px
    &-btn-plus
        position: relative
        left: 885px
        bottom: 70px
        display: inline-block
        width: 70px
        height: 70px
        background: linear-gradient(#FFCA43,#FFCA43), linear-gradient(#FFCA43,#FFCA43)
        background-position: center
        background-size: 50% 1px,1px 50%; //*thickness = 2px, length = 50% (25px)*/
        background-repeat: no-repeat
        border: 1px #FFCA43 solid
        border-radius: 9999px

.section__nav_two-blocks
    position: relative
    left: 1035px
    bottom: 430px
    display: flex

.section__nav_portfolio
    width: 100%
    height: 100% 
    font-size: 48px  
    font-weight: 400
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    text-decoration: none
    h2
        color: #FFFFFF
    &-container 
        background-color: #7841FF
        border-radius: 25px
        width: 250px
        height: 310px
    &-arrow
        width: 130px
        color: #FFFFFF
.section__nav_cv
    width: 100%
    height: 100%
    color: #FFFFFF
    font-size: 48px  
    font-weight: 400 
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    text-decoration: none
    &-container
        background-color: #FF607C
        border-radius: 25px
        width: 200px
        height: 310px 
        margin-left: 5px
    &-arrow
        width: 110px
        color: #FFFFFF

.section__welcome
    display: flex
    justify-content: space-evenly
    margin-top: 70px
    align-items: end
    &_title-container
        width: 590px
        height: 180px
    &_title 
        color: #FFFFFF
        font-size: 64px
        font-style: normal
        font-weight: 400
        line-height: normal
        text-transform: capitalize
    &_text-container
        width: 460px
        height: 80px
    &_text 
        color: #FFFFFF
        font-size: 20px
        font-style: normal
        font-weight: 400
        line-height: 40px
        word-wrap: break-word
        text-transform: capitalize

.line
    border: 0.5px solid #FFF 
    width: 1400px

.mini-rectangle
    width: 6px
    height: 6px
    transform: rotate(45deg)
    background-color: #FFF
    position: relative
.js
    left: 100px
.hc
    left: 45px
.s
    left: 61px
.rj
    left: 30px
.g
    left: 70px

.dots
    color: #FFF;
    text-decoration: none
    font-size: 70px
    display: flex
    justify-content: center
    position: relative
    bottom: 15px

.section__skills
    display: flex
    justify-content: space-around
    width: 100%
    height: 270px
    &_blocks-container
        width: 575px
        height: 230px
        margin-top: 50px
        display: flex
        flex-wrap: wrap

        font-weight: 500
        font-size: 20px
    &_blocks-js 
        width: 360px
        height: 60px
    &_blocks-html
        width: 225px
        height: 60px
        margin-right: 5px
    &_blocks-sass
        width: 225px
        height: 60px
        margin-right: 5px
    &_blocks-libraries
        width: 225px
        height: 60px
        margin-right: 5px
    &_blocks-git
        width: 225px
        height: 60px
        margin-right: 5px
    &_blocks-other
        width: 115px
        height: 60px
        font-size: 58px
    &_text-container
        display: flex
        width: 550px
        height: 180px
        flex-direction: column
        justify-content: space-between
        margin-top: 40px
        padding-left: 35px
    &_text-title
        color: #FFF
        font-size: 48px
        font-style: normal
        font-weight: 400
        line-height: normal
        text-transform: capitalize 
    &_text 
        color: #FFF
        font-size: 20px
        font-style: normal
        font-weight: 400
        line-height: 40px
        text-transform: capitalize 
